* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-image:
    url("https://besthqwallpapers.com/Uploads/16-1-2021/152206/thumb2-dark-green-lines-background-abstract-green-background-creative-green-background-green-lines-background.jpg");
  }
  h1 {
    font-size: 3rem;
    margin-top: 10rem;
    color: violet;
    margin-left: 25rem;
  }
  h1 i{
    color: rgb(13, 243, 24);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-image:
    url("https://media.istockphoto.com/vectors/red-and-black-tech-corporate-background-vector-id1148254501?k=20&m=1148254501&s=612x612&w=0&h=3oXNmfn37ccvXR84HqkzZyxSTIWTTUxp9hnmJ4HaPuc=");
    box-shadow: 0px 3px 1.2px 0px whitesmoke;
  }

  .logo-text a{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(251, 255, 5);
    text-decoration-style: solid;
  }
  .btn{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fffb01;
    text-decoration-style: solid;
  }
  .btn {
    padding: 9px 25px;
    background-color: rgb(0, 110, 255);
    box-shadow: 5px 5px #8ef330;
    border-radius: 50px;

    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  .btn:hover {
    background-color: rgba(59, 167, 37, 0.8);
  }
  
  .cards {
    display: table;
  }
  .card {
    font-family: "Candara", sans-serif;
    width: 340px;
    overflow: hidden;
    background-image:
    url("https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg?auto=compress&cs=tinysrgb&w=400");
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.8);
    display: inline-block;
    flex-direction: column;
    border-radius: 2rem;
    margin: 2rem;
  }
  .card-image img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  .profile-image img {
    z-index: 1;
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 10px solid rgb(255, 251, 0);
    transition-duration: 0.5s;
    cursor: pointer;
    transition-property: transform;
  }
  .profile-image img:hover {
    transform: scale(1.5,1.5);
  }
  .card-content h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 11px;
  }
  .card-content h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 11px;
    color: blue;
    text-decoration: underline;
  }